@use "mixins" as *;
@use "typography";
@use "variables" as *;

body {
  font-family: "TitilliumWeb", sans-serif;
  @include regular-font;
  margin: 0;
  background-color: $Light-Grey;
  color: $Instock-Black;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

label {
  @extend h3;
  font-weight: 600;
}

textarea {
  resize: none;
}

main {
  border-radius: 0.5ch;
  background-color: $white;
  margin: $mobile-container-margin;
  margin-top: -4rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @include tablet {
    margin: $tablet-container-margin;
    margin-top: -6rem;
  }

  @include desktop {
    margin: $desktop-side-margin;
    margin-top: -6rem;
  }
}

section {
  padding-left: $mobile-container-margin;
  padding-right: $mobile-container-margin;

  @include tablet {
    padding-left: $tablet-container-margin;
    padding-right: $tablet-container-margin;
  }

  @include desktop {
    padding-left: $desktop-container-margin;
    padding-right: $desktop-container-margin;
  }
}

.title-bar {
  padding: $mobile-container-margin;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Cloud;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $tablet-container-margin;
    padding-top: 2rem;
    padding-bottom: calc(1.5rem - 1px);
  }
  @include desktop {
    padding: $desktop-container-margin;
    padding-top: 2rem;
    padding-bottom: calc(1.5rem - 1px);
  }

  &__left-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    margin: 0;
  }

  &__title {
    margin: 0;
  }

  &__right-container {
    @include tablet {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

.title-bar__icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sort-icon {
  width: 1rem;
  height: 1rem;
}

button {
  @extend label;
  font-family: "TitilliumWeb", sans-serif;

  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;

  color: $white;
  background-color: $Instock-Indigo;
  padding: 0.5rem 1rem;
  border-radius: 5rem;

  &:hover {
    background-color: $Instock-Black;
  }
}

.button--white {
  @extend button;
  background-color: $white;
  color: $Slate;
  border: 1px solid $Cloud;

  &:hover {
    background-color: $white;
    color: $Instock-Indigo;
    border: 1px solid $Instock-Indigo;
  }
}

.button--red {
  @extend button;
  background-color: $Red;
}

.form {
  &__container {
    @include tablet {
      display: flex;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  &__section {
    padding-bottom: 1.5rem;

    &:first-child {
      @include border-bottom-line;
    }

    @include tablet {
      width: 50%;
      padding-bottom: 0;

      &:first-child {
        border-bottom: 0;
        border-right: 1px solid $Cloud;
      }
    }
  }

  &__subtitle {
    @include tablet {
      margin-top: 0;
    }
  }

  &__fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__buttons-section {
    background-color: $Light-Grey;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: inherit;
      gap: 1rem;
    }
  }

  &__buttons-container > button {
    width: 47.5%;

    @include tablet {
      width: auto;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__input {
    @extend h3;
    font-family: "TitilliumWeb";
    color: $Instock-Black;
    border-color: $Cloud;
    border-radius: 1.25rem;
    appearance: none;
    box-sizing: border-box;
    height: 2.25rem;
    border-style: solid;
    border-width: 1px;
    outline: 0;
    padding: 0.5rem 1rem;

    @include tablet {
      height: 2.375rem;
    }

    &:focus {
      border-color: $Instock-Indigo;
    }

    &::placeholder {
      @extend h3;
      font-family: "TitilliumWeb";
      color: $Slate;
    }

    &--error {
      @extend .form-field__input;
      border-color: $Red;
    }
  }

  &__textarea {
    @extend .form-field__input;
    height: 7.5rem;

    &--error {
      @extend .form-field__textarea;
      border-color: $Red;
    }
  }

  &__select {
    @extend .form-field__input;
    cursor: pointer;
    appearance: none;
    background-image: url("../../src/assets/icons/arrow_drop_down-24px.svg");
    background-position: right 1rem center;
    background-repeat: no-repeat;

    &:focus {
      background-image: url("../../src/assets/icons/arrow_drop_down-24px-blue.svg");
    }

    &--error {
      @extend .form-field__select;
      border-color: $Red;
    }
    & option {
      color: $Instock-Black;
    }
  }

  &__radio-group {
    display: flex;
    align-items: center;
    @include tablet {
      gap: 3rem;
    }
  }

  &__radio-item {
    display: flex;
    align-items: center;
    width: 50%;
    @include tablet {
      width: auto;
    }
  }

  &__radio-label {
    color: $Slate;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__radio-input {
    margin: 0;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    accent-color: $Instock-Indigo;
    cursor: pointer;
    opacity: 0.5;

    &:checked {
      opacity: 1;
    }

    &:checked + label {
      color: $Instock-Black;
    }
  }

  &__error-container {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }

  &__error-icon {
    width: 1rem;
    height: 1rem;
  }

  &__error-message {
    color: $Red;
    @include m-p3-body-small;

    @include tablet {
      @include p3-body-small;
    }
  }
}

input[type="number"].form-field__input {
  @include tablet {
    width: 7.625rem;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

//Warehouse and Inventory Indigo Styling
.indigo-name-container {
  display: flex;
  align-items: center;
  color: $Instock-Indigo;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.0625rem;
  }
}

//Tablet and Desktop Table Styling

.tablet-desktop-table-container {
  display: none;

  @include tablet {
    display: flex;
    overflow-x: auto;
  }
}

.tablet-desktop-table {
  width: 100%;
  border-collapse: collapse;
}

.tablet-desktop-table th,
.tablet-desktop-table td {
  padding: 1rem;
  vertical-align: middle;
  text-align: left;
  font-size: 0.75rem;
}

.tablet-desktop-table td {
  @include border-bottom-line;
}

.tablet-desktop-table th {
  display: table-cell;
  background-color: $Light-Grey;
  color: $Slate;
}

.tablet-desktop-table tbody tr {
  height: auto;
  min-height: 3rem;
}

.sortable-column {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.sortable-column img {
  vertical-align: middle;
}

.tablet-desktop-table th:first-child,
td:first-child {
  padding-left: 2rem;
  font-weight: 550;

  @include desktop {
    padding-left: 3.9375rem;
  }
}

.tablet-desktop-table td:last-child {
  padding-right: 2rem;

  @include desktop {
    padding-right: 3.9375rem;
  }
}

.tablet-desktop-table tbody tr:hover {
  background-color: $Light-Grey;
}

.action-icons {
  display: flex;
  gap: 1rem;
}

.delete-btn {
  padding-top: 0.625rem;
  cursor: pointer;

  @include tablet {
    padding-top: 0;
  }
}

//Mobile Table Styling

.mobile-card-container {
  display: block;

  @include tablet {
    display: none;
  }
}

.mobile-card {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $Cloud;
  padding: 1rem;
  gap: 2rem;

  &:hover {
    background-color: $Light-Grey;
  }
}

.mobile-column-header {
  color: $Slate;
  padding-bottom: 1.3rem;
  font-weight: 550;
  font-size: 0.6875rem;
}

.mobile-column-content {
  font-weight: 400;
  color: $Instock-Black;
  font-size: 0.6875rem;
}

.mobile-edit-button {
  bottom: 0;
  justify-self: end;
}

.mobile-column-container {
  width: 50%;
  position: relative;
}

.warehouse-link {
  text-decoration: none;
  cursor: pointer;
}

.mobile-delete-button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}

// Add New Button Styles
.add-new-button {
  &__container {
    padding-top: 1rem;

    @include tablet {
      padding-top: 0;
    }
  }
}

.add-new-button-style {
  @extend button;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Instock-Indigo;
  border-radius: 50rem;
}

//Inventory In Stock, Out of Stock Status Style

.status-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 1.25rem;
  font-size: 0.6rem;
  height: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
  @include tablet {
    height: 0.9rem;
    font-size: 0.7rem;
  }
}

.in-stock {
  color: $Green;
  background-color: rgba(21, 132, 99, 0.07);
  width: 3rem;
}

.out-of-stock {
  color: $Red;
  background-color: rgba(201, 69, 21, 0.07);
  width: 4.3rem;

  @include tablet {
    width: 4.7rem;
  }
}

//Detail Page Styling

.detail-title {
  color: $Slate;
  font-size: 0.7rem;
  font-weight: 550;
  @include tablet {
    font-size: 0.8rem;
  }
}

.title-bar-detail-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mobile-container-margin;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Cloud;

  @include tablet {
    padding: $tablet-container-margin;
    padding-bottom: calc(1.5rem - 1px);
  }

  &__left-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}
