@use "/styles/variables" as *;
@use "/styles/mixins" as *;

.processed-image-section {
  padding-top: 2rem;
}

.borderpage {
  margin: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  color: $Main-Brown;

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__button {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $Main-Brown;
    background-color: $Main-Pink;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: sans-serif;

    &:hover {
      background-color: $Secondary-Pink;
      color: $white;
    }

    &__image {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center;
    }
  }

  input[type="file"],
  select {
    position: relative;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.25rem;
    border: 0.0625rem solid $Main-Pink;
    border-radius: 0.3rem;
    outline: none;
    width: 100%;
    width: 15rem;

    @include tablet {
      padding: 0.5rem;
      width: 20rem;
    }

    @include desktop {
      width: 25rem;
    }

    &:focus {
      border-color: $Main-Pink;
      border-radius: 0.5ch;
    }
  }

  select {
    width: auto;
    padding: 0.4rem;
    background-color: $Main-Pink;
  }
}
