@use "/styles/variables" as *;
@use "/styles/mixins" as *;

.photos-page {
  margin: 1rem;
  text-align: center;

  @include desktop {
    margin: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr)
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    margin-bottom: 1rem;
  }
}
