@use "mixins" as *;
@use "typography";
@use "variables" as *;

body {
  font-family: "DancingScript", sans-serif;
  @include regular-font;
  margin: 0;
  color: $Main-Brown;
}

.global {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $Main-Brown;
  background-image: url("/src/assets/images/floral-mobile-tablet-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include desktop {
    background-image: url("/src/assets/images/floral-desktop-background.png");
  }

  &__title,
  &__countdown {
    position: relative;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    @include desktop {
      font-size: 3rem;
    }
  }

  &__countdown {
    font-size: 1.5rem;
    font-weight: bold;

    @include desktop {
      font-size: 2rem;
    }
  }

  &__tablet-desktop-countdown {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__mobile-countdown {
    display: block;

    @include desktop {
      display: none;
    }
  }

  &__button {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $Main-Brown;
    background-color: $Main-Pink;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: sans-serif;

    &:hover {
      background-color: $Secondary-Pink;
      color: $white;
    }
  }

  input[type="file"],
  select {
    position: relative;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.25rem;
    border: 0.0625rem solid $Main-Pink;
    border-radius: 0.3rem;
    outline: none;

    @include tablet {
      padding: 0.5rem;
    }

    &:focus {
      border-color: $Main-Pink;
      border-radius: 0.5ch;
    }
  }

  select {
    width: auto;
    padding: 0.4rem;
    background-color: $Main-Pink;
  }

  .global__image-preview {
    position: relative;
    margin-top: 2rem;
  }

  .global__image-preview img {
    max-width: 100%;
    border: 0.125 solid $Main-Brown;
    border-radius: 0.3;
  }
}

.global__border-selection {
  margin: 1rem 0;
}

.border-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  @include desktop {
    flex-direction: row;
  }
}
