@use "mixins" as *;
@use "typography";
@use "variables" as *;

body {
  font-family: "DancingScript", sans-serif;
  @include regular-font;
  margin: 0;
  color: $Main-Brown;
}

img {
  max-width: 100%;
  display: block;
}

