@use "./variables" as *;

// Mixin for tablet (min-width 767px, max-width 1279px)
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

// Mixin for desktop (min-width 1280px and above)
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Creating mixins for fonts
@mixin semi-bold-font {
  font-family: "DancingScript";
  font-weight: 600;
}

@mixin regular-font {
  font-family: "DancingScript";
  font-weight: 400;
}