@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb";
  font-style: bold;
  font-weight: 600;
  src: url("/src/assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
