@font-face {
  font-family: "DancingScript";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScript";
  font-style: bold;
  font-weight: 600;
  src: url("/src/assets/fonts/DancingScript-Bold.ttf") format("truetype");
}
